<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>『前情』后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/libs/modernizr.min.js"></script>
</head>
<body style="">
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <h1 class="topbar-logo none"><a href="index.html" class="navbar-brand">后台管理</a></h1>
            <ul class="navbar-list clearfix">
                <li><a class="on" href="__CONTROLLER__/index">首页</a></li>
            </ul>
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li><a href="javascript:void(0)">你好，&nbsp;<?php echo session('admin_name');?>
                    <if condition="session('poster') eq 0 ">管理员
                        <else/>记者
                    </if>
                </a></li>
                <li><a href="__CONTROLLER__/login_out">退出</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <if condition="session('poster') eq 0 ">
                    <li>
                        <a href="#"><i class="icon-font">&#xe003;</i>新闻管理</a>
                        <ul class="sub-menu">
                            <li><a href="__CONTROLLER__/news_list"><i class="icon-font">&#xe001;</i>新闻列表</a></li>
                            <li><a href="__CONTROLLER__/cate_list"><i class="icon-font">&#xe001;</i>新闻类别</a></li>
                            <li><a href="__CONTROLLER__/counts"><i class="icon-font">&#xe001;</i>榜单统计</a></li>
                            <li><a href="__CONTROLLER__/orders"><i class="icon-font">&#xe001;</i>订阅推送</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-font">&#xe018;</i>用户权限管理</a>
                        <ul class="sub-menu">
                            <li><a href="__CONTROLLER__/users_list"><i class="icon-font">&#xe062;</i>用户列表</a></li>
                            <li><a href="__CONTROLLER__/users_add"><i class="icon-font">&#xe062;</i>用户添加</a></li>


                        </ul>
                    </li>
                    <else/>
                    <li>
                        <a href="#"><i class="icon-font">&#xe003;</i>新闻管理</a>
                        <ul class="sub-menu">
                            <li><a href="__CONTROLLER__/news_list"><i class="icon-font">&#xe001;</i>新闻列表</a></li>
                            <li><a href="__CONTROLLER__/cate_list"><i class="icon-font">&#xe001;</i>新闻类别</a></li>
                            <li><a href="__CONTROLLER__/counts"><i class="icon-font">&#xe001;</i>榜单统计</a></li>
                            <li><a href="__CONTROLLER__/orders"><i class="icon-font">&#xe001;</i>订阅推送</a></li>

                        </ul>
                    </li>

                </if>
            </ul>
        </div>
    </div>

    <!--/sidebar-->
    <div class="main-wrap">
        <style>
            .welcome{
                color: #000000;
                width: 100%;
                margin: auto;
                padding-top: 3%;
               padding-left: 3%;
            }


        </style>
        <div class="welcome" style="font-size: 16px;color:black;vertical-align: middle;">
        <div style="margin-bottom: 5px;width: 90%;text-align: left;">
            <a href="__CONTROLLER__/first">返回首页</a>&nbsp;&nbsp;&nbsp;
        <a href="__CONTROLLER__/news_list" >返回列表</a> </div>
        <div style="width: 90%;">
           <h1 style="text-align: center">{$detail.title}</h1>
           <h6 style="font-weight: normal;text-align: center">{$detail.add_date}&nbsp;&nbsp;&nbsp;作者:{$detail.admin_name}&nbsp;&nbsp;&nbsp;&nbsp;{$detail.cate_name}</h6>
            <hr style=>
            <p >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {$detail.content}
            </p>

        </div>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>